//primary color - dark cyan
$primary-color: hsl(179, 81, 29);

//secondary color - dark grey blue
$secondary-color: hsl(216, 17, 21);

//accent color - pale orange
$accent-color: hsl(25, 94, 86);

//background-color - light cream
$background-color: hsl(43, 78, 98);

//secondary font color - grey
$secondary-font-color: hsl(215, 5, 54);

//button hover
$button-hover: hsl(179, 55, 61);

//button disabled
$button-disabled: hsl(25, 11, 87);
